//Default NIB mixins
@import 'nib'

//normalize.css: http://necolas.github.io/normalize.css/
@import 'imports/normalize'

//Sprite sheet
@import 'sprites'

//Default is Flat Ui: http://designmodo.github.io/Flat-UI/
//Original css from https://github.com/obibring/flat-ui-colors-sass/blob/master/_flat-colors.scss
//Please customize
@import 'imports/color-scheme'

//Edit add variables here. This should act as the main customizable file.
@import 'imports/variables'

//Edit all breakpoints here
@import 'imports/breakpoints'

//Main stylesheet
//...
//This application utilizes a mobile-first approach
//This file should contain full smallest screen styles as well as all complete cross media styles
@import 'imports/default'
